body{
  background-color: hsl(185, 75%, 39%);
  background-image: url("./images/bg-pattern-bottom.svg"),url("./images/bg-pattern-top.svg");
  /* background-image: url("./images/bg-pattern-top.svg"); */
  background-blend-mode: screen;
  width: 1444px;
  height: auto;
  background-position:
    top 200px right -300px, /* Position pour la première image*/
    bottom -700px left -300px; /* Position pour la seconde image */
  background-repeat: no-repeat;



}

hr {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}

.profile{
  display: flex;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

.center_profil{
  position: relative;
  width: 250px;
  height: 250px;
  background-color: white;
  border-radius: 10px;
  /* margin-top: auto;
  margin-bottom: auto; */
  margin: auto;
}

.text_profil{
  text-align: center;
  padding: 25px;
  /* padding-top: 1em;
  padding-bottom: 10p; */
}
.head_profil{
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 70px;
  background-image: url("./images/bg-pattern-card.svg");
  width: 100%;

}

.image_profil{
  position: relative;
  display: block;
  margin-left:auto;
  margin-right:auto;
  height: 50px;
  width: 50px;
  top: 60%;
  border: 3px solid #FFF;
  -webkit-border-radius: 50%;
}
.profil_body{
  position: absolute;
  padding: 0px;
  height: 90%;
  width: 100%;
}
.bottom_profil{

}
.table_profil{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
}
table {
  border-collapse: collapse;
  width: 100%;
  bottom: 0;
}

th, td {
  padding: 0;
  width: 33%;
  text-align: center;
  border-top: 1px solid #ddd;
}
.subtext{
  font-size: 10px;
  font-family: monospace;
  font-weight: 120;
}

@media only screen and (max-width: 376px) {
  body {
      background-color: hsl(185, 75%, 39%);
      background-image: url("./images/bg-pattern-bottom.svg"),url("./images/bg-pattern-top.svg");
      /* background-image: url("./images/bg-pattern-top.svg"); */
      background-blend-mode: screen;
      max-width: 375px;
      height: 100%;
      background-position:
        top 200px right -600px, /* Position pour la première image*/
        bottom -100px left -300px; /* Position pour la seconde image */
      background-repeat: no-repeat;
  }

  .profile{
    display: flex;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
  }

  .center_profil{
    position: relative;
    width: 200px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    /* margin-top: auto;
    margin-bottom: auto; */
    margin: auto;
  }

  .text_profil{
    text-align: center;
    padding: 15px;
    /* padding-top: 1em;
    padding-bottom: 10p; */
  }
  .head_profil{
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 90px;
    background-image: url("./images/bg-pattern-card.svg");
    width: 100%;

  }

  .image_profil{
    position: relative;
    display: block;
    margin-left:auto;
    margin-right:auto;
    height: 50px;
    width: 50px;
    top: 70%;
    border: 3px solid #FFF;
    -webkit-border-radius: 50%;
  }
  .profil_body{
    position: absolute;
    padding: 0px;
    height: 90%;
    width: 100%;
  }
  .bottom_profil{

  }
  .table_profil{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    bottom: 0;
  }

  th, td {
    padding: 0;
    width: 33%;
    text-align: center;
    border-top: 1px solid #ddd;
  }
  .subtext{
    font-size: 10px;
    font-family: monospace;
    font-weight: 120;
  }
}

/* .column {
  position: relative;
  text-align: center;
}

/* Set width length for the left, right and middle columns */
/* .left {
  position: absolute;
  bottom: 0;
  width: 33%;
}

.middle {
  position: absolute;
  bottom: 0;
  width: 33%;
  left: 33%;
}

.right {
  position: absolute;
  bottom: 0;
  width: 33%;
  right:0;
}

.row{
  position: relative;
  bottom: 0;
  height: 40%;

}
.row:after {
  content: "";
  display: table;
  clear: both;
  bottom: 0;
} */ */
